@import "../reindeer/legacy-styles.css";

@import "css/foundation-icons.css";

.v-generated-body {
	background: url("img/body_verlauf_1.jpg") repeat-x;
	padding: 0;
	margin: 0;
}

#sitebody {
	width: 680px;
	height: 100%;
	margin: 0 auto;
  padding: 0px;
}

#header1 {
	height: 166px;
	background: url("img/1892_unterseite.png") no-repeat;
}

.v-gridlayout-result-details.v-gridlayout-margin-top {
	padding-top: 0px;
}

.v-gridlayout-result-details.v-gridlayout-margin-bottom {
	padding-bottom: 5px;
}

.v-gridlayout-result-details.v-gridlayout-spacing-on {
	padding-top: 0px;
}

.v-panel-content-description {
	background-color: #FFF !important;
	border: 1px solid #DDD !important;
}

.v-verticallayout-image-panel {
	background-color: #FFF;
	border: 1px solid #DDD;
}

.v-verticallayout-reference-panel {
	background-color: #FFF;
	border: 1px solid #DDD;
}

.v-label-hint {
	color: #000;
}

.v-label-contact {
	cursor: pointer;
}

i.help {
	font-size: 20px;
}

.v-table-row.v-selected,.v-table-row-odd.v-selected {
	background: none;
	background-color: #444;
	text-shadow: none;
	color: white;
}

.v-table .v-selected .v-table-cell-content {
	border-right-color: #D3D4D5;
}

.v-table-focus .v-table-cell-content {
	border-top: 1px dotted #D3D4D5;
	border-bottom: 1px dotted #D3D4D5;
}