<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <!-- Spring -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:META-INF/spring/context-*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>

  <!-- Spring security -->
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Vaadin -->
  <context-param>
    <description>Vaadin production mode</description>
    <param-name>productionMode</param-name>
    <param-value>true</param-value>
  </context-param>

  <servlet>
    <servlet-name>PersonSearch</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <param-name>UI</param-name>
      <param-value>com.mymita.al.ui.search.person.Search</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonSearch</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonSearch</servlet-name>
    <url-pattern>/search/person/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonSearch</servlet-name>
    <url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MarriageSearch</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <param-name>UI</param-name>
      <param-value>com.mymita.al.ui.search.marriage.Search</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarriageSearch</servlet-name>
    <url-pattern>/search/marriage/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChristeningSearch</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <param-name>UI</param-name>
      <param-value>com.mymita.al.ui.search.christening.Search</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChristeningSearch</servlet-name>
    <url-pattern>/search/christening/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <param-name>UI</param-name>
      <param-value>com.mymita.al.ui.admin.AdminUI</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>

</web-app>
